<!DOCTYPE html>
<html lang="en-us">
	<head prefix="og: http://ogp.me/ns/website#">
<% include meta-tags.ejs %>
		<link rel="stylesheet" href="<%= meta.url_base %>/css/style-default.min.css">
	</head>








	<body class="default">
		<div id="mock-ipad-container" class="vertical-middle">
			<div id="actual-screen">
				<div id="status-bar"></div>
				<div id="container-left">
					<div id="mlbtv">
						<video width="640" height="480" autoplay controls><source src="/videos/harvey_masked.mp4" type="video/mp4"></video>
					</div>
					<div id="sentiment-analysis">
						#sentiment-analysis
					</div>
				</div><div id="container-right" class="pull-right">
					<div id="score-board-plays">
						#score-board-plays
					</div>
				</div>
			</div>
		</div>
<!--/#page-container -->








		<script src="<%= meta.url_base %>/node_modules/jquery/jquery.min.js"></script>
		<script src="<%= meta.url_base %>/node_modules/bootstrap/js/bootstrap.min.js"></script>
		<script src="<%= meta.url_base %>/js/functions.min.js"></script>
		<script>

		</script>
	</body>
</html>
