<% include header.ejs %>
		<nav class="vertical-middle">
			<a href="/" class="next hover-animation">1</a>
			<a href="/2" class="next hover-animation active">2</a>
			<a href="/3" class="next hover-animation">3</a>
		</nav>

		<div id="mock-ipad-container" class="vertical-middle">
			<div id="actual-screen">
				<div id="status-bar"></div>
				<video width="1024" height="480" controls>
					<source src="/videos/harvey_gif_fcp2.mov" type="video/mp4">
				</video>
				<div id="sentiment-analysis" style="width: 1024px"></div>
			</div>
		</div>
<!--/#page-container -->

<% include footer.ejs %>