#content {
	background: #c6dae7;
	min-height: 320px;
}
.container-inner {

}
.tag {
	background: #a6bbc8;
	color: #fff; /* PMS 2225 C */
	display: inline-block;
	font-size: 9px;
	font-weight: 600;
	letter-spacing: 0.16em;
	margin-bottom: 7px;
	padding: 8px 16px;
	text-transform: uppercase;
}
.skew-outer {
	position: relative;
	top: -4em;
	-webkit-transform: skewY(4deg);
	-moz-transform: skewY(4deg);
	-ms-transform: skewY(4deg);
	-o-transform: skewY(4deg);
	transform: skewY(4deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: initial;
}
.skew-inner {
	position: relative;
	top: 4em;
	-webkit-transform: skewY(-4deg);
	-moz-transform: skewY(-4deg);
	-ms-transform: skewY(-4deg);
	-o-transform: skewY(-4deg);
	transform: skewY(-4deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: initial;
}
.skew-outer-opposite {
	position: relative;
	-webkit-transform: skewY(-2.4deg);
	-moz-transform: skewY(-2.4deg);
	-ms-transform: skewY(-2.4deg);
	-o-transform: skewY(-2.4deg);
	transform: skewY(-2.4deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: initial;
}
.skew-inner-opposite {
	position: relative;
	top: 4em;
	-webkit-transform: skewY(2.4deg);
	-moz-transform: skewY(2.4deg);
	-ms-transform: skewY(2.4deg);
	-o-transform: skewY(2.4deg);
	transform: skewY(2.4deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: initial;
}




.branding .logo-mm {
	height: 64px;
	margin-bottom: 16px;
	width: auto;
}
.branding h2,
.branding h3 {
	line-height: 16px;
	margin: 0px;
	text-transform: uppercase;
}
.branding h2 {
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.04em;
}
.branding h3 {
	color: #5b6770; /* PMS 431 C */
	font-size: 10px;
	letter-spacing: 0.2em;
	margin-bottom: 40px;
}
.bg-dark .branding h3 {
	color: #a6bbc8;
}




#intro {
	background: #131e29;
	padding-bottom: 5em;
}
#intro .container {
	text-align: center;
}
#intro h1 {
	margin: 136px 0px 80px 0px;
}




#principles {
	background: url('/img/bg-analytics.jpg') top center no-repeat;
	background-size: 300%;
}
#principles .container {
	
}
#principles .container > div {

}








@media (max-width: 374px) {

}
@media (min-width: 375px) {

}
@media (min-width: 375px) and (max-width: 413px) {

}
@media (max-width: 413px) {

}
@media (min-width: 414px) {

}
@media (min-width: 414px) and (max-width: 506px) {

}
@media (max-width: 506px) {

}
@media (min-width: 507px) {

}
@media (min-width: 507px) and (max-width: 677px) {

}
@media (max-width: 677px) {

}
@media (min-width: 678px) {

}
@media (min-width: 678px) and (max-width: 767px) {

}
@media (max-width: 767px) {

}
@media (min-width: 768px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (max-width: 991px) {

}
@media (min-width: 992px) {
	#content {
		margin: 0px 72px;
	}
	.container-inner {
		margin: 0px 120px;
	}
	.tag {
		font-size: 12px;
		font-weight: 600;
		letter-spacing: 0.04em;
		margin-bottom: 16px;
		padding: 8px 16px;
	}
	#intro {
		padding-bottom: 8em;
	}
	#intro h1 {
		margin: 4em 0em;
	}
	#intro h2,
	#intro h3 {
		line-height: 18px;
		margin: 0px;
		text-transform: uppercase;
	}
	#intro h2 {
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.04em;
	}
	#intro h3 {
		color: #768692; /* PMS 7544 C */
		font-size: 12px;
		letter-spacing: 0.25em;
	}
	#intro img {
		height: 64px;
		margin-bottom: 24px;
		width: auto;
	}
	#principles {
		background: url('/img/bg-analytics.jpg') center no-repeat;
		background-size: cover;
	}
	#principles .container > div {
		width: 50%;
	}
}
@media (min-width: 992px) and (max-width: 1023px)  {

}
@media (max-width: 1023px) {

}
@media (min-width: 1024px) {

}
@media (min-width: 1024px) and (max-width: 1199px) {

}
@media (max-width: 1199px) {

}
@media (min-width: 1200px) {
	#content {
		margin: 0px 80px;
	}
	.container-inner {
		margin: 0px 160px;
	}
}
@media (min-width: 1200px) and (max-width: 1399px) {

}
@media (max-width: 1399px) {

}
@media (min-width: 1400px) {

}
